org.simpl.rrs/resources/RRSMetaDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RRSService" targetNamespace="http://webservices.rrs.simpl.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservices.rrs.simpl.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
			<xsd:import namespace="http://webservices.rrs.simpl.org/" schemaLocation="RRSService_schema1.xsd"/>
		</xsd:schema>
  </types>
  <message name="getEPR">
    <part name="eprName" type="xsd:string">
    </part>
  </message>
  <message name="getEPRResponse">
    <part name="return" type="tns:EPR">
    </part>
  </message>
  <message name="getAvailableAdapters">
  </message>
  <message name="getAllEPRResponse">
    <part name="return" type="tns:EPRArray">
    </part>
  </message>
  <message name="getAllEPR">
  </message>
  <message name="getAvailableAdaptersResponse">
    <part name="return" type="tns:stringArray">
    </part>
  </message>
  <portType name="RRSMetaDataService">
    <operation name="getAllEPR">
      <input message="tns:getAllEPR">
    </input>
      <output message="tns:getAllEPRResponse">
    </output>
    </operation>
    <operation name="getEPR">
      <input message="tns:getEPR">
    </input>
      <output message="tns:getEPRResponse">
    </output>
    </operation>
    <operation name="getAvailableAdapters">
      <input message="tns:getAvailableAdapters">
    </input>
      <output message="tns:getAvailableAdaptersResponse">
    </output>
    </operation>
  </portType>
  <binding name="RRSMetaDataServicePortBinding" type="tns:RRSMetaDataService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAllEPR">
      <soap:operation soapAction="getAllEPR"/>
      <input>
        <soap:body use="literal" namespace="http://webservices.rrs.simpl.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservices.rrs.simpl.org/"/>
      </output>
    </operation>
    <operation name="getEPR">
      <soap:operation soapAction="getEPR"/>
      <input>
        <soap:body use="literal" namespace="http://webservices.rrs.simpl.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservices.rrs.simpl.org/"/>
      </output>
    </operation>
    <operation name="getAvailableAdapters">
      <soap:operation soapAction="getAvailableAdapters"/>
      <input>
        <soap:body use="literal" namespace="http://webservices.rrs.simpl.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservices.rrs.simpl.org/"/>
      </output>
    </operation>
  </binding>
  <service name="RRSMetaDataService">
    <port name="RRSMetaDataServicePort" binding="tns:RRSMetaDataServicePortBinding">
      <soap:address location="http://localhost:8080/axis2/services/RRSMetaDataService?wsdl"/>
    </port>
  </service>
</definitions>
