org.simpl.rrs/resources/RRSManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RRSService" targetNamespace="http://webservices.rrs.simpl.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservices.rrs.simpl.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
			<xsd:import namespace="http://webservices.rrs.simpl.org/" schemaLocation="RRSService_schema1.xsd"/>
		</xsd:schema>
  </types>
  <message name="updateResponse">
    <part name="return" type="xsd:boolean">
    </part>
  </message>
  <message name="update">
    <part name="epr" type="tns:EPR">
    </part>
  </message>
  <message name="deleteResponse">
    <part name="return" type="xsd:boolean">
    </part>
  </message>
  <message name="insert">
    <part name="epr" type="tns:EPR">
    </part>
  </message>
  <message name="delete">
    <part name="epr" type="tns:EPR">
    </part>
  </message>
  <message name="insertResponse">
    <part name="return" type="xsd:boolean">
    </part>
  </message>
  <portType name="RRSManagementService">
    <operation name="delete">
      <input message="tns:delete">
    </input>
      <output message="tns:deleteResponse">
    </output>
    </operation>
    <operation name="insert">
      <input message="tns:insert">
    </input>
      <output message="tns:insertResponse">
    </output>
    </operation>
    <operation name="update">
      <input message="tns:update">
    </input>
      <output message="tns:updateResponse">
    </output>
    </operation>
  </portType>
  <binding name="RRSManagementServicePortBinding" type="tns:RRSManagementService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="delete">
      <soap:operation soapAction="delete"/>
      <input>
        <soap:body use="literal" namespace="http://webservices.rrs.simpl.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservices.rrs.simpl.org/"/>
      </output>
    </operation>
    <operation name="insert">
      <soap:operation soapAction="insert"/>
      <input>
        <soap:body use="literal" namespace="http://webservices.rrs.simpl.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservices.rrs.simpl.org/"/>
      </output>
    </operation>
    <operation name="update">
      <soap:operation soapAction="update"/>
      <input>
        <soap:body use="literal" namespace="http://webservices.rrs.simpl.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservices.rrs.simpl.org/"/>
      </output>
    </operation>
  </binding>
  <service name="RRSManagementService">
    <port name="RRSManagementServicePort" binding="tns:RRSManagementServicePortBinding">
      <soap:address location="http://localhost:8080/axis2/services/RRSManagementService?wsdl"/>
    </port>
  </service>
</definitions>
