trunk/org.simpl.core/DatasourceServicePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://webservices.core.simpl.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservices.core.simpl.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.core.simpl.org/" schemaLocation="DatasourceServicePortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="defineData">
    <part name="dsAddress" type="xsd:string"/>
    <part name="statement" type="xsd:string"/>
    <part name="dsType" type="xsd:string"/>
  </message>
  <message name="defineDataResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="ConnectionException">
    <part name="fault" element="tns:ConnectionException"/>
  </message>
  <message name="manipulateData">
    <part name="dsAddress" type="xsd:string"/>
    <part name="statement" type="xsd:string"/>
    <part name="data" type="xsd:string"/>
    <part name="dsType" type="xsd:string"/>
  </message>
  <message name="manipulateDataResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="queryData">
    <part name="dsAddress" type="xsd:string"/>
    <part name="statement" type="xsd:string"/>
    <part name="dsType" type="xsd:string"/>
  </message>
  <message name="queryDataResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <portType name="DatasourceService">
    <operation name="defineData" parameterOrder="dsAddress statement dsType">
      <input message="tns:defineData"/>
      <output message="tns:defineDataResponse"/>
      <fault message="tns:ConnectionException" name="ConnectionException"/>
    </operation>
    <operation name="manipulateData" parameterOrder="dsAddress statement data dsType">
      <input message="tns:manipulateData"/>
      <output message="tns:manipulateDataResponse"/>
      <fault message="tns:ConnectionException" name="ConnectionException"/>
    </operation>
    <operation name="queryData" parameterOrder="dsAddress statement dsType">
      <input message="tns:queryData"/>
      <output message="tns:queryDataResponse"/>
      <fault message="tns:ConnectionException" name="ConnectionException"/>
    </operation>
  </portType>
</definitions>

