trunk/org.simpl.rrs/RRSManagementService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://webservices.rrs.simpl.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservices.rrs.simpl.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://uni-stuttgart.de/simpl/rrs" schemaLocation="RRSManagementService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="delete">
    <part name="epr" type="ns1:EPR" xmlns:ns1="http://uni-stuttgart.de/simpl/rrs"/>
  </message>
  <message name="deleteResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="insert">
    <part name="epr" type="ns2:EPR" xmlns:ns2="http://uni-stuttgart.de/simpl/rrs"/>
  </message>
  <message name="insertResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="update">
    <part name="epr" type="ns3:EPR" xmlns:ns3="http://uni-stuttgart.de/simpl/rrs"/>
  </message>
  <message name="updateResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <portType name="RRSManagementService">
    <operation name="delete">
      <input message="tns:delete"/>
      <output message="tns:deleteResponse"/>
    </operation>
    <operation name="insert">
      <input message="tns:insert"/>
      <output message="tns:insertResponse"/>
    </operation>
    <operation name="update">
      <input message="tns:update"/>
      <output message="tns:updateResponse"/>
    </operation>
  </portType>
</definitions>

