org.simpl.rrs/RRSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
	<!--
		Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is
		JAX-WS RI 2.1.6 in JDK 6.
	-->
<definitions targetNamespace="http://webservices.rrs.simpl.org/"
	name="RRSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservices.rrs.simpl.org/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://webservices.rrs.simpl.org/"
				schemaLocation="RRSService_schema1.xsd" />
		</xsd:schema>
	</types>


	<message name="delete">
		<part name="epr" type="tns:EPR" />
	</message>
	<message name="deleteResponse">
		<part name="return" type="xsd:boolean" />
	</message>
	<message name="insert">
		<part name="epr" type="tns:EPR" />
	</message>
	<message name="insertResponse">
		<part name="return" type="xsd:boolean" />
	</message>
	<message name="update">
		<part name="epr" type="tns:EPR" />
	</message>
	<message name="updateResponse">
		<part name="return" type="xsd:boolean" />
	</message>
	<message name="NewOperationRequest">
		<part name="NewOperationRequest" type="xsd:string"></part>
	</message>
	<message name="NewOperationResponse">
		<part name="NewOperationResponse" type="xsd:string"></part>
	</message>




	<message name="getAllEPR" />
	<message name="getAllEPRResponse">
		<part name="return" type="tns:EPRArray" />
	</message>
	<message name="getEPR">
		<part name="eprName" type="xsd:string" />
	</message>
	<message name="getEPRResponse">
		<part name="return" type="tns:EPR" />
	</message>
	<message name="getAvailableAdapters" />
	<message name="getAvailableAdaptersResponse">
		<part name="return" type="ns1:stringArray" xmlns:ns1="http://jaxb.dev.java.net/array" />
	</message>
	<message name="get">
		<part name="EPR" type="tns:EPR" />
	</message>
	<message name="getResponse">
		<part name="return" type="xsd:string" />
	</message>
	<portType name="RRSManagementService">
		<operation name="delete">
			<input message="tns:delete" />
			<output message="tns:deleteResponse" />
		</operation>
		<operation name="insert">
			<input message="tns:insert" />
			<output message="tns:insertResponse" />
		</operation>
		<operation name="update">
			<input message="tns:update" />
			<output message="tns:updateResponse" />
		</operation>
	</portType>
	<portType name="RRSMetaDataService">
		<operation name="getAllEPR">
			<input message="tns:getAllEPR" />
			<output message="tns:getAllEPRResponse" />
		</operation>
		<operation name="getEPR">
			<input message="tns:getEPR" />
			<output message="tns:getEPRResponse" />
		</operation>
		<operation name="getAvailableAdapters">
			<input message="tns:getAvailableAdapters" />
			<output message="tns:getAvailableAdaptersResponse" />
		</operation>
	</portType>



	<portType name="RRSRetrievalService">
		<operation name="get">
			<input message="tns:get" />
			<output message="tns:getResponse" />
		</operation>
	</portType>

	<binding name="RRSManagementServicePortBinding" type="tns:RRSManagementService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="rpc" />
		<operation name="delete">
			<soap:operation soapAction="delete" />
			<input>
				<soap:body use="literal" namespace="http://webservices.rrs.simpl.org/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://webservices.rrs.simpl.org/" />
			</output>
		</operation>
		<operation name="insert">
			<soap:operation soapAction="insert" />
			<input>
				<soap:body use="literal" namespace="http://webservices.rrs.simpl.org/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://webservices.rrs.simpl.org/" />
			</output>
		</operation>
		<operation name="update">
			<soap:operation soapAction="update" />
			<input>
				<soap:body use="literal" namespace="http://webservices.rrs.simpl.org/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://webservices.rrs.simpl.org/" />
			</output>
		</operation>
	</binding>
	<binding name="RRSMetaDataServicePortBinding" type="tns:RRSMetaDataService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="rpc" />
		<operation name="getAllEPR">
			<soap:operation soapAction="getAllEPR" />
			<input>
				<soap:body use="literal" namespace="http://webservices.rrs.simpl.org/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://webservices.rrs.simpl.org/" />
			</output>
		</operation>
		<operation name="getEPR">
			<soap:operation soapAction="getEPR" />
			<input>
				<soap:body use="literal" namespace="http://webservices.rrs.simpl.org/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://webservices.rrs.simpl.org/" />
			</output>
		</operation>
		<operation name="getAvailableAdapters">
			<soap:operation soapAction="getAvailableAdapters" />
			<input>
				<soap:body use="literal" namespace="http://webservices.rrs.simpl.org/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://webservices.rrs.simpl.org/" />
			</output>
		</operation>
	</binding>
	<binding name="RRSRetrievalServicePortBinding" type="tns:RRSRetrievalService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="rpc" />
		<operation name="get">
			<soap:operation soapAction="get" />
			<input>
				<soap:body use="literal" namespace="http://webservices.rrs.simpl.org/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://webservices.rrs.simpl.org/" />
			</output>
		</operation>
	</binding>
	<service name="RRSManagementService">
		<port name="RRSManagementServicePort" binding="tns:RRSManagementServicePortBinding">
			<soap:address
				location="http://localhost:8080/axis2/services/RRSManagementService?wsdl" />
		</port>
	</service>
	<service name="RRSMetaDataService">
		<port name="RRSMetaDataServicePort" binding="tns:RRSMetaDataServicePortBinding">
			<soap:address
				location="http://localhost:8080/axis2/services/RRSMetaDataService?wsdl" />
		</port>
	</service>
	<service name="RRSRetrievalService">
		<port name="RRSRetrievalServicePort" binding="tns:RRSRetrievalServicePortBinding">
			<soap:address
				location="http://localhost:8080/axis2/services/RRSRetrievalService?wsdl" />
		</port>
	</service>
</definitions>


